@media (min-width: 451px) {

   .topnav, .mobileDesign, .mobileIllustration, #navLogo, img.mobilelogo{
        display: none;
    }

    .navigation {
        width: 250px;
        height: 100vh;
        position: fixed;
        z-index: 0;
        top: 0;
        left: 0;
        padding-top: 20px;
        background-color: white;
    }

    img.weblogo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 250px;
    }

    .navItems a {
        text-align: left;
        font-variant: small-caps;
        font-family: 'Source Sans Pro', sans-serif;
        color: black;
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 2px;
        display: block;
        text-decoration: none;
        padding-left: 68px;
        padding-bottom: 6px;
    }

    #navIcons {
        margin-left: 68px;
    }

    i {
        padding-right: 5px;
    }

    #navContact {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 11px;
        text-align: left;
        color: black;
        text-decoration: none;
        padding-left: 68px;
    }

    #navContact a {
        color: black;
        padding-bottom: 50px;
        text-decoration: none;
    }

    li a:hover, #navContact a:hover {
        color: #5ea1a9;
        text-decoration: none;
    }

    #navIcons a{
        color: black;
    }

    #navIcons a:hover {
        color: #5ea1a9;
    }
}