@media (max-width: 450px){
	.design-grid-container{
		display: none;
	}
	.design-mobile{
		display: block;
	}
  	.designImage {
	    margin-left: 5%;
	    margin-right: 5%;
	    width: 90%;
	    height: auto;
	    margin-bottom: 5%; 
	}
	.designOverlay{
		display: none;
	}
}

@media (min-width: 451px){
	.design-grid-container{
	    display: grid;
	    grid-template-columns: repeat(auto-fit, minmax(500px, max-content));
	    grid-template-rows: repeat(1, max-content);
	    margin-left: 250px;
	    grid-gap: 10px;
	}

	.design-mobile{
		display: none;
	}

	.designProject{
	    position: relative;
	}

	.designImage{
	    width: 100%;
	    height: 100%;
	    z-index: -1;
	}

	.designOverlay{
	    position: absolute;
	    text-align: center;
	    width: 100%;
	    height: 100%;
	    left: 0;
	    top: 0;
	    opacity: 0;
	}

	.designOverlay a{
	    display: inline-block;
	    width: 100%;
	    height: 100%;
	    text-decoration: none;
	    color: grey;
	    background-color: white;
	    text-align: center;
	    font-size: 2vw;
	    font-family: "Source Sans Pro", sans-serif;
	    z-index:1;
	    padding-top: 33%;
	}

	.designOverlay:hover{
	    opacity: 1;
	}
}